.show-image {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 800px;
    height: auto;
}

.show-description {
    position: absolute;
    background: radial-gradient(#28867e, #015460);
    border-radius: 20px;
    color: white;
    top: 20%;
    left: 60%;
    width: 400px;
    height: auto;
    min-height: 200px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
}

.description-in-table {
    word-wrap: break-word;
}

.mobile-descriptions {
    margin: 0 5% 0 5%;
}

.image-in-show-image-block {
    width: 100%;
}

.table-title-text {
    font-family: Helvetica, Arial;
    font-size: 16px;
    font-weight: 600;
}

.image-in-table {
    width: 50px;
    height: 50px;
}

.image-in-mobile-table {
    width: 300px;
    height: auto;
    margin: 1% 0 0 10%;
}
